@tailwind base;
@tailwind components;
@tailwind utilities;

#noteContent li {
    list-style: decimal;
    font-size: large;
}

#noteContent h1 {
    font-size: xx-large;
}

#noteContent h2 {
    font-size: x-large;
}

#noteContent p {
    font-size: large;
}

#noteContent img {
    width: 50%;
}